# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local reports
janitor/report.json
janitor/report.md